@media only screen and (max-width: 600px) {
    * {
        margin: 0;
        padding: 0;
    }

    body {
        font-family: "Mulish", sans-serif;
        display: flex;
        justify-content: center;
        justify-items: center;
        flex-direction: column;
        align-items: center;
        width: 100vw;
        height: 100vh;
        background-image: linear-gradient(220deg, white, rgb(45, 150, 255));
    }

    #name {
        position: absolute;
        /* display: none; */
        margin-top: -60vh;
        text-align: center;
        font-size: 2vw;
        color: rgb(73, 1, 111);
    }

    #main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    #first_row,
    #second_row,
    #third_row {
        gap: 20px;
        display: flex;
        justify-content: center;
        width: 70vw;

    }

    .my {
        background: transparent;
        backdrop-filter: blur(2vw);
        font-size: 10vw;
        cursor: pointer;
        /* background-color: rgb(87, 162, 254); */
        width: 20vw;
        height: 10vh;
        border-radius: 5vw;
        outline: none;
        color: rgb(255, 255, 255);
        border: 0.1vw solid rgb(255, 255, 255);
    }


    .pop_up {
        padding: 2vw;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 0.2vw solid rgb(239, 239, 239);
        border-radius: 10vw;
        width: 90vw;
        height: 30vh;
        font-size: 10vw;
        color: rgb(61, 5, 75);
        background: transparent;
        backdrop-filter: blur(5vw);
        /* background-color: rgb(87, 180, 243), white; */
        box-shadow: 1vw 1vh 5vh rgb(255, 255, 255);
        animation-name: pop;
        animation-duration: 3s;
        animation-iteration-count: 1;
        animation-timing-function: ease-out;
    }

    @keyframes pop {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }
}